<html>
<head>
  <title>Unauthorized</title>
</head>
<body>
<h1>You Are Not Authorized To Access This Page</h1>
  <p>These bits are unavailable to you.</p>
<p>Return to <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>