<form method = "POST" action = "/login">
	{{form.csrf_token}}
	{{form.username.label}} {{form.username(size = 20)}}
	{{form.password.label}} {{form.password(size = 20)}}
	{{ form.remember_me.label }} {{ form.remember_me() }}
	<input type = "submit" value = "Submit">
	
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>